.form-style {
  display: flex;
  flex-direction: column;
}
.form-include {
  display: flex;
  flex-direction: column;
}
.input-form {
  width: 426px;
  height: 57px;
  border: 1px solid #8692a6;
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 30px;
  outline: none;
}
.adress-input {
  width: 419px;
  font-family: "Inter";
  font-size: 16px;
  line-height: 50px;
  align-items: center;
  color: #2d2e2e;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}
.error {
  border-color: red;
  box-shadow:.5px 1px 3px red ;
}
.error-messages {
  margin-top: 11px;
  color: red;
  font-size: 15px;
  font-family: "Inter";
}
.input-search{
    width: 20em;
    height: 48px;
    border: 1px solid #999;
    padding-left: 1em;
    color: #000;
    font-size: large;
    font-weight: 400;
    outline: none;
    border-radius: 5px;

}
