.para {
  line-height: 38px;
  margin-top: 10em;
  width: 460px;
  height: 164px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  margin-left: 4em;
  color: #ffffff;
  font-style: normal;
font-weight: normal;
}
.hideo {
  margin-top: 3em;
}
.shap {
  margin-left: 19em;
}