.signup {
  display: flex;
}
.leftside {
  display: flex;
  flex-direction: column;
  width: 642px;
  height: 942px;
  background-color: #1565d8;
}
.backgroundImage {
  position: absolute;
  width: 642px;
  height: 942px;
  background: url("../../image/Rectangle31.png");
  opacity: 0.2;
}
.rightside {
  width: 50%;
  height: 942px;
}
.logo {
  margin: 61px 0 0 89px;
}
.info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkbox {
  margin-top: 2em;
  width: 415px;
}
.checkbox label {
  width: 220px;
  height: 19px;
  left: 827px;
  top: 698px;
  margin-left: 1.5em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #696f79;
}
.checkbox input {
  cursor: pointer;
}
.title {
  font-family: "Inter";
  margin-top: 3em;
  text-align: center;
}
